
$word-color: black;
$word-color-second: white;
$word-color-third: #676767;

$line-color: #2400b2;

$background-color: #823173;
$background-color-second: #443c8f;


// .................... uprava webu ....................

body, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

#background-images {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/7489905.jpg");
    background-size: cover;
    height: 65vh;
    background-attachment: fixed;
}

nav {
 background-color: rgb(127 127 127);
 padding: 25px;
 font-size: 17px;
 z-index: 3;
}

nav img {
	width: 6%;
	float: left;
	margin: -13px 0px 0px 20px;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
	margin: 0 auto;

}

nav ul li {
	list-style-type: none;
	position: relative;
	
}

nav ul li a {
	color: $word-color-second;
	
}

nav ul li a:hover {
	color: $word-color-second;
	
}

nav ul li::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: white;
	bottom: 0;
	left: 0;
	transform: scaleX(0); /* Čára bude původně neviditelná */
    transform-origin: 0 100%;
    transition: transform 0.5s ease; /* Animace pro čáru */
	
}

nav ul li:hover::before {
    transform: scaleX(1);
}

// ------------ client button ---------------


.btn1 {
	background-color: $background-color;
	color: $word-color-second;
	font-weight: bold;
	border: none;
	padding: 8px 18px;
	border-radius: 5px;
	font-size: 15px;
}

// =================== main ========================

main {
	background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("images/5594016.jpg");
	padding-top: 50px;
    background-size: cover;
    border: none;
}

.container {
	width: 1200px;
}

// ------------ main-title ------------

.main-title {
	color: $word-color;
	margin: 30px 0px;
	font-family: 'Times New Roman', Times, serif;
}

.main-title::after {
	content: "";
	display: block;
	/* width: 0px; */
	border-bottom: 5px dashed $background-color;
	margin: 10px 0px;
	animation: expandLine 2s ease-out forwards; 
   
  }


  
  #title1::after {
	width: 0px; /* Šířka pro nadpis s ID "title1" */
	animation: expandLine1 2s ease-out forwards;
  }
  
  #title2::after {
	width: 0px; /* Šířka pro nadpis s ID "title1" */
	animation: expandLine2 2s ease-out forwards;
  }
  
  #title3::after {
	width: 0px; /* Šířka pro nadpis s ID "title2" */
	animation: expandLine3 2s ease-out forwards;
  }
  
  #title4::after {
	width: 0px; /* Šířka pro nadpis s ID "title2" */
	animation: expandLine4 2s ease-out forwards;
  }

  #title5::after {
	width: 0px; /* Šířka pro nadpis s ID "title2" */
	animation: expandLine5 2s ease-out forwards;
  }
  
  @keyframes expandLine1 {
	to {
	  width: 900px; 
  
	}
  }
  
  @keyframes expandLine2 {
	to {
	  width: 200px; 
  
	}
  }
  
  @keyframes expandLine3 {
	to {
	  width: 300px; 
  
	}
  }
  
  @keyframes expandLine4 {
	to {
	  width: 150px; 
  
	}
  }

  @keyframes expandLine5 {
	to {
	  width: 450px; 
  
	}
  }

.main-par {
	color: $word-color-third;
	margin: 40px 0px;
	font-size: 18px;

}




// ----------- main cards ----------------



	.card {
		box-shadow: 5px 5px 5px ;
	}

.main-cards {
	display: flex;
	justify-content: center;
	gap: 15px;

}

.card-body {
	background: $background-color;
	color: $word-color-second;
	
}

.body-one {
	border-radius: 5px;
}

.btn {
	background: $background-color-second;
	// color: $word-color;
	// font-weight: bold;
	// font-size: 15px;
}

// ------ our team --------

.team-members {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding-bottom: 50px;
}

.bg-image {
	border: 10px solid grey;

}

.bg-image:hover {
	border: 10px solid rgb(170, 170, 170);
	transition: all 0.5s;
}

.img-fluid {
	transform: scale(1);
    transition: all 0.5s linear;
}

.img-fluid:hover {
	transform: scale(1.1);
    transition: all 0.5s linear;
}



// ==================== ucetnictvi =============


.bookkeping-cards {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: 40px;
}

.body-two {
	width: 280px;
	height: 180px;
	text-align: center;
	
}

.body-two h5 {
	font-size: 25px;
	margin-top: 20px;
}

.main-bookkeping {
	padding: 100px 0px;
}


// ==================== kontakty ==============

#contactsFlex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 30px;
	background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),url("images/5594016.jpg");
}

.image {
	width: 50%;
	
}


.main-title-contact {
	color: $word-color;
	margin: 30px 0px;
	font-family: 'Times New Roman', Times, serif;
}


.main-title-contact::after {
	content: "";
	display: block;
	border-bottom: 5px dashed $background-color;
}

.pataText p i { /* abych měla ikonky stejně zarovnaný */
    width: 35px;
    
  }

  #googleMaps iframe {
	width: 100%;
  }


// ==================== odkazy ==============

#links-to-sites {
	background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("images/5594016.jpg");
	background-size: cover;
	// background-position: center;
    height: 90vh;
	margin: 0 auto;
	overflow: hidden;
}

.linksFlex {
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
	display: flex;

}

.links-items {
	width: 50%;
}

.links-title {
	color: $word-color;
	margin: 0 auto;
	font-family: 'Times New Roman', Times, serif;
	margin-bottom: 50px;
}

.links-title::after {
	content: "";
	display: block;
	border-bottom: 5px dashed $background-color;
	margin: 10px 0px;
	width: 0px;
	animation: expandLine 2s ease-out forwards; 
   
  }

  @keyframes expandLine {
	to {
	  width: 300px; 
  
	}
  }

  .lists ul li {
	list-style-type: none;
	margin-top: 10px;
  }

  .lists ul li a {
	color: $word-color;
	font-size: 18px;
  }

.lists ul li a i {
	width: 30px;
}

.wrappers-links {
	width: 50%;

}
.wrapper-links-one {
	background: $background-color;
    content: "";
    height: 400px;
	overflow: hidden;
    transform: rotate(217deg);
    width: 1200px;
	margin-left: 300px;
	margin-top: -70px;
	
}


.wrapper-links-two {
	background: $background-color;
    content: "";
    height: 700px;
	margin-top: 130px;
    transform: rotate(160deg);
    width: 1200px;
	overflow: hidden;

}

// ------------- career --------------

.accordion-button {
	padding: 5px 20px;
}


//  ---------------- footer --------------


footer {
	height: 400px;
	overflow: hidden;
	// background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("images/5594016.jpg");
	background: #b3b3b3;
}

.footer-wrapper {
	background: $background-color;
    content: "";
    height: 800px;
	margin-top: -70px;
    // position: absolute;
    // right: 50%;
    // top: 2500px;
    transform: rotate(164deg);
    width: 1700px;

}

.footer-items {
	width: 500px;
	margin: 0 auto;
	color: $background-color;
}

.main-title-footer {
	color: $word-color;
	margin: 30px 0px;
	font-family: 'Times New Roman', Times, serif;
}


.main-title-footer::after {
	content: "";
	display: block;
	border-bottom: 5px dashed $background-color;
	width: 40%;
}

.footer-down {
	background: rgb(83, 82, 82);
	margin: 0 auto;
	color: $word-color-second;
	text-align: center;
}

.footer-down p {
	margin: 0 auto;
	padding: 20px 0px;
}



// animace za pouziti javascript

.hidden {
	opacity: 0;
	// filter: blur(0px);
	transform: translateY(-20%);
	// transition: all 1.5s;
	transition: opacity 1s ease-in, transform 1.5s ease-in;
}



.show {
	opacity: 1;
	// filter: blur(0);
	transform: translateY(0);
	transition: opacity 1s ease-out, transform 1.5s ease-out;
}

.logo {
	opacity: 0;
	filter: blur(1px);
	transform: translateX(50%);
	transition: all 1.5s;
}

.showTwo {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.reveal:nth-child(2) {
	transition-delay: 200ms;
}

.reveal:nth-child(3) {
	transition-delay: 300ms;
}

.reveal:nth-child(4) {
	transition-delay: 400ms;
}

.reveal:nth-child(5) {
	transition-delay: 500ms;
}

.reveal:nth-child(6) {
	transition-delay: 600ms;
}

.reveal:nth-child(7) {
	transition-delay: 700ms;
}

.reveal:nth-child(8) {
	transition-delay: 800ms;
}

.reveal:nth-child(9) {
	transition-delay: 900ms;
}

.reveal:nth-child(10) {
	transition-delay: 1000ms;
}

.reveal:nth-child(11) {
	transition-delay: 1100ms;
}

.reveal:nth-child(12) {
	transition-delay: 1200ms;
}